{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="container contain_project">
    <h1>Projects</h1>
    <div class="row project_row">
        <div class=" col-md-3 col-lg-3">
            {%for project in project_results%}
            <ul class="unordered_list">
                <li class="unordered_list">{{project.title}}</li>
            </ul>
            {%endfor%}
        </div>
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-sm-12 col-md-8 col-lg-8 myprojects">

            {%for project in project_results%}
            <div style="border:1px solid lightgray;margin-top:2%;">
                <h3>{{project.title}}</h3>
                <a href="{%url 'project' project.id%}"><img src="{{project.screenshot.url}}" alt="Image" width="100%"
                        class="img-responsive project-image img"></a>
                <div class="row">
                    <div class="col-xm-6 col-sm-5 col-md-5 col-lg-5 project_padding">
                        <p>Repository <a href="{{project.repo_link}}">link.</a></p>
                        <p>Go <a href="{{project.live_links}}">live.</a></p>
                        <strong>More <a href="{%url 'project' project.id%}">details?</a></strong>
                    </div>
                    <div class="col-xm-5 col-sm-5 col-md-5 col-lg-5 project_padding">
                        <p class="tech">Technologies</p>
                        <ul class="unordered_list">
                            {%for tech in project.technologies %}
                            <li>{{tech}}</li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            {%endfor%}

        </div>

    </div>
</div>


{%endblock%}