<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-info">
        <div class="container-fluid">

            <ul class="navbar-nav navbar-right">
                <li class="nav-item btn btn-lg">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item btn btn-lg">
                    <a class="nav-link" href="{%url 'projects'%}">Projects</a>
                </li>
                <li class="nav-item btn btn-lg">
                    <a class="nav-link" href="{%url 'resume'%}">Resume</a>
                </li>
                <li class="nav-item btn btn-lg">
                    <a class="nav-link" href="{%url 'contact'%}">Contact</a>
                </li>
            </ul>
            

    </nav>
</body>

</html>